.cc-dropdown {
  position: relative;
  width: 100%;
  float: left;

  .cc-dropdown__title {
    float: left;
    padding-bottom: 8px;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #222;
    text-transform: uppercase;
  }

  .cc-dropdown__select {
    padding-left: 5px;
    clear: both;
    float: left;
    width: 100%;
    height: 44px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;

    &::-ms-expand {
      display: none;
    }
  }

  .cc-dropdown__select--arrow-down {
    bottom: 13px;
    cursor: pointer;
    position: absolute;
    right: 14px;
  }
}