@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.gallery {
  .image-gallery .image-gallery-slide-wrapper {
    width: 100%;

    .image-gallery-bullets .image-gallery-bullet {
      background-color: #ccc;
      margin: 0 5px;
      padding: 3.5px;
      border: none;
      
      &.active {
        background-color: #444;
      }
    }
  }
}