.product-selector {
  padding: 24px 18px 0 20px;

  .product-selector__color-container {
    .product-selector__color-container__color-picker {
      padding: 15px 0 25px;
    }
  }

  .product-selector__dropdown-container {
    max-width: 170px;
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px 5px 19px;

    &.product-selector__dropdown-container--left {
      padding-left: 0;
    }

    &.product-selector__dropdown-container--right {
      padding-right: 0;
    }
  }

  .product-selector__row {
    margin: 0;

    .product-selector__row--value {
      font-weight: 600;
    }
  }

  @media (min-width: 1025px) {
    padding: 0;

    .product-selector__dropdown-container {
      max-width: unset;
    }
  }
}