.product-page {
  font-family: OpenSans, sans-serif;

  .product-page__title {
    .product-page__title__label {
      font-family: 'Abhaya Libre', OpenSans, sans-serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.09em;
      margin: 20px 20px 0;
      text-align: center;
      color: #222;
    }

    .product-page__title__price {
      margin-top: 8px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      color: #666666;
    }
  }

  @media (min-width: 1025px) {
    padding: 68px 50px 0 50px;

    .product-page__gallery {
      float: left;
      width: 60%;
    }

    .product-page__title {
      float: right;
    }

    .product-page__selector {
      float: left;
      padding-left: 37px;
      width: calc(40% - 37px);
    }
  }

  @media (min-width: 1400px) {
    padding: 68px 139px 0 157px;

    .product-page__gallery {
      width: 67%;
    }

    .product-page__selector {
      width: calc(33% - 37px);
    }
  }
}